.filter-container {
  box-shadow: 0px 5px 15px hsla(0, 0%, 0%, 0.35);
  display: flex;
  margin-left: 10%;
  padding: 20px;
  justify-content: space-evenly;
}
.search-rooms-input {
  width: 100%;
}
.room-type {
  width: 100%;
  border: none;
  padding: 5px;
}
.ant-picker {
  border-color: white;
  width: 100%;
}
.ant-picker:hover {
  box-shadow: 0px 0px 5px hsla(43, 83%, 30%, 0.877);
  border: none;
}
.date {
  border-color: hsla(43, 83%, 30%, 0.877);
}
.search-field input {
  border-radius: 15px;
  padding: 5px;
}
.search-field input[type="search"]:focus {
  outline: none;
}
.room-type-box {
  border-radius: 15px;
  padding: 5px;
}
select.room-type {
  border: none;
  outline: none;
}
.error-message {
  height: 70vh;
  margin-left: 10%;
  justify-content: center;
}


@media (max-width: 1057px) {
  .filter-container {
    display: flex;
    width: 90%;
    margin-left: 5%;
    justify-content: space-around;
  }
  .date-h b {
    font-size: small;
  }
  .room-type-box {
    border-radius: 10px;
    padding: 0px;
    width: 20%;
  }
  .search-field input {
    border-radius: 15px;
    padding: 5px;
  }
  .error-message {
    margin-left: 5%;
    width: 90%;
  }
}
@media (max-width: 840px) {
  .filter-container{
    flex-wrap: wrap;
    display: flex;
    
  }
  .search-field {
    width: 40%;
    gap: 30%;
  }
  .date {
    width: 35%;
  }
}
@media (max-width: 740px) {
  .date {
    width: 45%;
  }
  .search-field {
    width: 45%;
  }
  .room-type-box {
    margin-right: 50%; 
    width: 50%;
  }
  .room-type {
    font-size: smaller;
    width: 60%;
  }
 
  .date-h b {
    font-size: smaller;
  }

}