.main {
	min-height: fit-content;
}

@media (max-width: 425px) {
	
	.gallery {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: center;
		margin-top: 0px;
		overflow: visible;
	}
	.gallery img {
		height: auto;
		width: 100%;
		object-fit: cover;
	}
	.gallery-item {
		height: 150px;
		width: 100%;
	}
	.small-device-img {
		width: 50%;
		padding: 5px;
	}
	.ht {
		font-size: medium;
	}
	

}
@media (max-width: 1024px) {
	.gallery {
		width: 90%;
	}
}