.main {
	min-height: fit-content;
	margin-bottom: 50px;
}

@media (max-width: 425px) {
	.gallery {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: center;
		margin-top: 0px;
		overflow: visible;
	}
	.gallery img {
		height: 100px;
		width: 40%;
	}
	.gallery-item {
		height: 250px;
	}
}
@media (max-width: 1024px) {
	.gallery {
		width: 90%;
	}
}